{{ ansible_managed | comment }}

{% for definition in item.definitions %}
{{ definition.logs | join(" ") }} {
{% for option in definition.options %}
    {{ option }}
{% endfor %}
{% if definition.prerotate|default([]) %}
    pretrotate
        {{ pretrotate }}
    endscript
{% endif %}
{% if definition.postrotate|default([]) %}
    postrotate
        {{ postrotate }}
    endscript
{% endif %}
{% if definition.preremove|default([]) %}
    preremove
        {{ preremove }}
    endscript
{% endif %}
{% if definition.postremove|default([]) %}
    postremove
        {{ postremove }}
    endscript
{% endif %}
{% if definition.lastaction|default([]) %}
    lastaction
        {{ lastaction }}
    endscript
{% endif %}
{% if definition.firstaction|default([]) %}
    firstaction
        {{ firstaction }}
    endscript
{% endif %}
}
{% endfor %}
